<div class="flex h-full lg:items-center">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="@container">
      <div class="@[480px]:px-4 @[480px]:py-3 flex justify-center">
        <div
          class="w-[740px] bg-center bg-no-repeat bg-cover overflow-hidden h-[380px] lg:h-auto sm:rounded-xl min-h-[276px] br"
          [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
        ></div>
        <!-- https://i.imgur.com/T4icgN6.jpeg -->
      </div>
    </div>
    <h1
      class="text-white tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6"
    >
      {{ game }}
    </h1>
    <p
      class="text-white text-xl font-normal leading-normal pb-3 pt-1 px-4 text-center"
    >
      "{{ phrase }}"
    </p>
    <p
      class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4 text-center"
    >
      - {{ character }} -
    </p>
    <div class="flex justify-center" id="buttons">
      <div
        class="flex flex-1 gap-3 flex-wrap px-4 py-3 max-w-[480px] justify-center"
      >
        <button
          class="hover:bg-[#344cef] flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-[#347cef] text-white text-base font-bold leading-normal tracking-[0.015em] grow"
          (click)="getPhrase()"
        >
          <span class="truncate">Nueva Frase</span>
        </button>
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-[#282f39] text-white text-base font-bold leading-normal tracking-[0.015em] grow"
        >
          <span class="truncate">Compartir</span>
        </button>
      </div>
    </div>
  </div>
</div>
